<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="padreexamen-element">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `padreexamen-element`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class PadreexamenElement extends Polymer.Element {
      static get is() { return 'padreexamen-element'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'padreexamen-element'
          }
        };
      }
    }

    window.customElements.define(PadreexamenElement.is, PadreexamenElement);
  </script>
</dom-module>
