<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../hijo1examen-element/hijo1examen-element.html">
<link rel="import" href="../hijo2examen-element/hijo2examen-element.html">

<dom-module id="padreexamen-element">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
	
	<hijo1examen-element on-click-boton="botones"></hijo1examen-element>
	
	<template is='dom-if' if='[[listaPage]]'>
		<div id="listaPage">
			<hijo2examen-element></hijo2examen-element>
		</div>
	</template>
	<template is='dom-if' if='[[tablaPage]]'>
		<div id="tablaPage">
			<hijo2examen-element></hijo2examen-element>
		</div>
	</template>
	
	
  </template>

  <script>
    /**
     * `padreexamen-element`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class PadreexamenElement extends Polymer.Element {
      static get is() { return 'padreexamen-element'; }
      static get properties() {
        return {
         listaPage: {
            type: Boolean,
            value: true
          },
		  tablaPage: {
            type: Boolean,
            value:false
          }
        };
      }
	  botones(e){
		if(e.detail=="1"){
			 this.listaPage=true;
			 this.tablaPage=false;
		}if(e.detail=="2"){
			 this.listaPage=false;
			 this.tablaPage=true;
		}
	  }
    }

    window.customElements.define(PadreexamenElement.is, PadreexamenElement);
  </script>
</dom-module>
